<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/embedded/css")
    </head>
    <body>
        <div id="body" class="prettyprint">
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
