@model SnippetShare.Models.ShowVM
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
@Html.DisplayFor(m => m.Content)
@Html.DisplayFor(m => m.DatePublished)

@section Scripts {
    @Scripts.Render("~/bundles/prettifier")
    <script>
        window.onload = function () {
            prettyPrint();
        };
    </script>
}